<head><script defer="defer" src="18b9d1fa75e8fdf5c717.js"></script><script defer="defer" src="./js/main.js"></script></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve './ab2c43dde21f8b4e5f24.js' in 'C:\Users\kvosk\On  eDrive\Рабочий стол\EPAM\fl-18\FL18_HW8\homework'
  ModuleNotFoundError: Module not found: Error: Can't resolve './ab2c43dde21f8b4e5f24.js'   in 'C:\Users\kvosk\OneDrive\Рабочий стол\EPAM\fl-18\FL18_HW8\homework'
      at C:\Users\kvosk\OneDrive\Рабочий стол\EPAM\fl-18\FL18_HW8\node_modules\webpack\lib  \Compilation.js:2013:28
      at C:\Users\kvosk\OneDrive\Рабочий стол\EPAM\fl-18\FL18_HW8\node_modules\webpack\lib  \NormalModuleFactory.js:795:13
      at eval (eval at create (C:\Users\kvosk\OneDrive\Рабочий стол\EPAM\fl-18\FL18_HW8\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:10:1)
      at C:\Users\kvosk\OneDrive\Рабочий стол\EPAM\fl-18\FL18_HW8\node_modules\webpack\lib  \NormalModuleFactory.js:275:22
      at eval (eval at create (C:\Users\kvosk\OneDrive\Рабочий стол\EPAM\fl-18\FL18_HW8\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:9:1)
      at C:\Users\kvosk\OneDrive\Рабочий стол\EPAM\fl-18\FL18_HW8\node_modules\webpack\lib  \NormalModuleFactory.js:431:22
      at C:\Users\kvosk\OneDrive\Рабочий стол\EPAM\fl-18\FL18_HW8\node_modules\webpack\lib  \NormalModuleFactory.js:124:11
      at C:\Users\kvosk\OneDrive\Рабочий стол\EPAM\fl-18\FL18_HW8\node_modules\webpack\lib  \NormalModuleFactory.js:667:25
      at C:\Users\kvosk\OneDrive\Рабочий стол\EPAM\fl-18\FL18_HW8\node_modules\webpack\lib  \NormalModuleFactory.js:852:8
      at C:\Users\kvosk\OneDrive\Рабочий стол\EPAM\fl-18\FL18_HW8\node_modules\webpack\lib  \NormalModuleFactory.js:972:5
  
  - Compilation.js:2013 
    [FL18_HW8]/[webpack]/lib/Compilation.js:2013:28
  
  - NormalModuleFactory.js:795 
    [FL18_HW8]/[webpack]/lib/NormalModuleFactory.js:795:13
  
  
  - NormalModuleFactory.js:275 
    [FL18_HW8]/[webpack]/lib/NormalModuleFactory.js:275:22
  
  
  - NormalModuleFactory.js:431 
    [FL18_HW8]/[webpack]/lib/NormalModuleFactory.js:431:22
  
  - NormalModuleFactory.js:124 
    [FL18_HW8]/[webpack]/lib/NormalModuleFactory.js:124:11
  
  - NormalModuleFactory.js:667 
    [FL18_HW8]/[webpack]/lib/NormalModuleFactory.js:667:25
  
  - NormalModuleFactory.js:852 
    [FL18_HW8]/[webpack]/lib/NormalModuleFactory.js:852:8
  
  - NormalModuleFactory.js:972 
    [FL18_HW8]/[webpack]/lib/NormalModuleFactory.js:972:5
  
  - child-compiler.js:169 
    [FL18_HW8]/[html-webpack-plugin]/lib/child-compiler.js:169:18
  
  - Compiler.js:564 
    [FL18_HW8]/[webpack]/lib/Compiler.js:564:11
  
  - Compiler.js:1183 
    [FL18_HW8]/[webpack]/lib/Compiler.js:1183:17
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [FL18_HW8]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1179 
    [FL18_HW8]/[webpack]/lib/Compiler.js:1179:33
  
  - Compilation.js:2784 finalCallback
    [FL18_HW8]/[webpack]/lib/Compilation.js:2784:11
  
  - Compilation.js:3089 
    [FL18_HW8]/[webpack]/lib/Compilation.js:3089:11
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [FL18_HW8]/[tapable]/lib/Hook.js:18:14
  
</anonymous></anonymous></pre>