* {
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.first-section {
  margin-top: 30px;
}
.first-section .sections {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.first-section .sections .first-section__third-row .epam-box {
  padding: 0 !important;
  width: 60% !important;
}
.first-section .sections .item {
  width: 100%;
  height: 400px;
  display: flex;
}
.first-section .sections .item .blue {
  background-color: #76cdd8;
}
.first-section .sections .item .scale-image {
  z-index: 1;
}
.first-section .sections .item .scale-image img {
  transition: 0.3s ease-in-out;
}
.first-section .sections .item .scale-image img:hover {
  transform: scale(1.1);
}
.first-section .sections .item .epam-box {
  width: 50%;
  padding: 50px;
}
.first-section .sections .item .epam-box .high-title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 32px;
}
.first-section .sections .item .epam-box .title span {
  font-size: 32px;
  color: #76cdd8;
}
.first-section .sections .item .epam-box .description {
  margin-top: 30px;
}
.first-section .sections .item .epam-box .description span {
  font-size: 18px;
  line-height: 28px;
}
.first-section .sections .item .epam-box .button {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.first-section .sections .item .epam-box .button button {
  padding: 20px 50px;
  color: #fff;
  text-transform: uppercase;
  background-color: #019999;
  border: none;
  font-size: 18px;
}
.first-section .sections .item .epam-box img {
  width: 100%;
  height: 100%;
}
.first-section .sections .item .white {
  background-color: #ffffff;
  position: relative;
}

.first-section .sections .item .white .text {
  font-style: italic;
  line-height: 28px;
}

.first-section .sections .item .white .description {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.first-section .sections .item .white .second-triangle {
  background-color: #76cdd8;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 0% 92%, 100% 0%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.first-section .sections .item .white:hover .second-triangle {
  opacity: 1;
}
.first-section .sections .item .white:hover .description {
  color: #76cdd8;
}
.first-section .sections .item .info-box {
  position: relative;
  padding: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-section .sections .item .info-box img {
  width: 50%;
  height: 100%;
  border-radius: 50%;
}
.first-section .sections .item .info-box .text {
  cursor: pointer;
}
.first-section .sections .item .info-box .triangle {
  background-color: #76cdd8;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.first-section .sections .item .info-box .low-title {
  margin-top: 30px;
  font-size: 14px;
  color: #fff;
}
.first-section .sections .item .info-box .title span {
  font-size: 32px;
  color: #666666;
}
.first-section .sections .item .info-box .description {
  margin-top: 25px;
}
.first-section .sections .item .info-box .description span {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
}
.first-section .sections .item .info-box .description span .epam {
  color: #0f7dff;
}
.first-section .sections .item .info-box .button {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.first-section .sections .item .info-box .button button {
  padding: 20px 50px;
  color: #fff;
  text-transform: uppercase;
  background-color: #019999;
  border: none;
  font-size: 18px;
}
.first-section .sections .item .info-box:hover .text {
  color: #76cdd8;
}
.first-section .sections .item .info-box:hover .triangle {
  opacity: 1;
}

.first-section .sections .item .info-box:hover .description span .epam {
  color: #76cdd8;
}

.second-section {
  margin-top: 30px;
}
.second-section .content-box {
  display: flex;
}
.second-section .content-box .left-side {
  background-color: #fff;
  flex: 1;
  padding: 50px;
}
.second-section .content-box .left-side .title span {
  font-size: 32px;
  color: #76cdd8;
}
.second-section .content-box .left-side .description {
  margin-top: 35px;
}
.second-section .content-box .left-side .description span {
  line-height: 35px;
}
.second-section .content-box .left-side .button {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.second-section .content-box .left-side .button button {
  cursor: pointer;
  padding: 20px 50px;
  color: #fff;
  text-transform: uppercase;
  background-color: #019999;
  border: none;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
.second-section .content-box .left-side .button button:hover {
  background-color: #76cdd8;
}
.second-section .content-box .right-side img {
  cursor: pointer;
  width: 380px;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.second-section .content-box .right-side img:hover {
  transform: scale(1.05);
}

.third-section {
  margin-top: 30px;
}
.third-section .content-box {
  display: flex;
}
.third-section .content-box .left-side img {
  cursor: pointer;
  width: 380px;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.third-section .content-box .left-side img:hover {
  transform: scale(1.05);
}
.third-section .content-box .right-side {
  flex: 1;
  background-color: #fff;
  padding: 20px;
}
.third-section .content-box .right-side .plans-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.third-section .content-box .right-side .plans-content .standart {
  margin-right: 10px;
}
.third-section .content-box .right-side .plans-content .advanced {
  margin-left: 10px;
}
.third-section .content-box .right-side .plans-content .advanced .discount {
  opacity: 0;
  transition: 0.3s ease-out;
}
.third-section .content-box .right-side .plans-content .advanced .discount span {
  color: #019999;
}
.third-section .content-box .right-side .plans-content .advanced .discount span::before {
  content: "*";
  color: red;
}
.third-section .content-box .right-side .plans-content .plan {
  border: 1px solid #019999;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.third-section .content-box .right-side .plans-content .plan .header {
  padding: 25px 90px;
  background-color: #019999;
}
.third-section .content-box .right-side .plans-content .plan .header .title span {
  font-size: 28px;
  color: #fff;
}
.third-section .content-box .right-side .plans-content .plan .header .low-title {
  text-align: center;
  margin-top: 20px;
}
.third-section .content-box .right-side .plans-content .plan .header .low-title span {
  color: #fff;
}
.third-section .content-box .right-side .plans-content .plan .body {
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.third-section .content-box .right-side .plans-content .plan .body ul li {
  list-style: none;
  margin-bottom: 20px;
}
.third-section .content-box .right-side .plans-content .plan .body ul li:nth-child(6) {
  margin-bottom: 0;
}
.third-section .content-box .right-side .plans-content .plan .body .buy-now {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.third-section .content-box .right-side .plans-content .plan .body .buy-now button {
  padding: 20px 50px;
  color: #fff;
  text-transform: uppercase;
  background-color: #019999;
  border: none;
  font-size: 18px;
  transition: 0.3s ease-out;
}
.third-section .content-box .right-side .plans-content .plan:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
  transform: scale(1.05);
}
.third-section .content-box .right-side .plans-content .plan:hover .buy-now button {
  background: #24d4d4;
}
.third-section .content-box .right-side .plans-content .plan:hover:nth-child(2) .discount {
  opacity: 1;
}

.fourth-section {
  margin-top: 30px;
  position: relative;
}
.fourth-section .application-form {
  background-color: #23d4d4;
  padding: 45px 160px 100px 65px;
}
.fourth-section .application-form .title span {
  font-size: 32px;
  color: #fff;
}
.fourth-section .form-content {
  transform: scale(1.2);
  width: 900px;
  background-color: #fff;
  padding: 65px 0;
  margin: 0 auto;
}
.fourth-section .form-content form {
  display: flex;
  justify-content: center;
}
.fourth-section .form-content form .left-side input[type=text] {
  padding: 20px;
  width: 350px;
  border: 1px solid #ced4da;
  margin-bottom: 15px;
  transition: 0.3s ease-out;
}
.fourth-section .form-content form .left-side input[type=text]::placeholder {
  font-size: 18px;
  color: #666;
}
.fourth-section .form-content form .left-side input[type=text]:focus {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.fourth-section .form-content form .left-side select {
  padding: 20px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
}
.fourth-section .form-content form .right-side {
  margin-left: 20px;
}
.fourth-section .form-content form .right-side textarea {
  padding: 15px 20px;
  border: 1px solid #ced4da;
  font-size: 18px;
  transition: 0.3s ease-out;
}
.fourth-section .form-content form .right-side textarea::placeholder {
  color: #666;
}
.fourth-section .form-content form .right-side textarea:focus {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.fourth-section .form-content .button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.fourth-section .form-content .button button {
  cursor: pointer;
  padding: 20px 50px;
  color: #fff;
  text-transform: uppercase;
  background-color: #019999;
  border: none;
  font-size: 18px;
  transition: 0.3s ease-out;
}
.fourth-section .form-content .button button:hover {
  background-color: #76cdd8;
}
.fourth-section .application-footer {
  padding: 100px 160px 65px 160px;
  background-color: #019999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fourth-section .application-footer .left-side .title span {
  color: #fff;
  font-size: 32px;
}
.fourth-section .application-footer .left-side .description span {
  color: #fff;
  font-size: 18px;
}
.fourth-section .application-footer .right-side .description span {
  color: #fff;
  font-size: 18px;
}

.footer {
  padding: 25px 0;
}
.footer .title {
  text-align: center;
}
.footer .title span {
  color: #666;
}

.title{
  color: white;
}
/*# sourceMappingURL=style.css.map */
