:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

.logo{
  padding-bottom: 40px;
  text-align: center;
  line-height: 2px;
  font-family: 'Shadows Into Light' , cursive;
  box-shadow: 10px 10px 30px 1px gray;
}
.logo-img_first{
  width: 10%;
}

.top{
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
}
.gallery{
  display: flex;
  width: 64%;
  height: 650px;
  box-shadow: 10px 10px 30px 1px gray;
  float: left;
}

.f1_gallery_photo{
  width: 99%;
}


.content{
  width: 34%;
  height: 520px;
  box-shadow: 10px 10px 30px 1px gray;
  margin-left: 20px;
  text-align: center;
  font-family: 'Shadows Into Light' , cursive;
}

.content-img_first{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.content-img_first img{
  width:100%;
  height:100%;
  object-fit: cover;
}


.content-text{
  font-size: 10px;
}
.content-text-first{
  font-size: 14px;

}
.content-text-second{
  font-size: 14px;
}

.content-photo img{
  width: 4%;
}



.end{
  padding-bottom: 40px;
  text-align: center;
  line-height: 2px;
  font-family: 'Shadows Into Light' , cursive;
  box-shadow: 10px 10px 30px 1px gray;
}
.end-img_first{
  width: 3%;
}

.end-text{
  font-size: 8px;
}
.end-title{
  font-size: 11px;
}
.end-end{
  font-size: 11px;
}

