<body>
    <div class="wrapper">
        <div class="chat" id="chat">
        </div>
        <form id="messageForm" class="chat__inputarea">
            <input class="chat__inputarea__input" name="message" id="message" type="text" placeholder="Enter your message...">
            <button class="chat__inputarea__btn" type="submit">Send</button>
        </form>
    </div>
    <script src="chat.js"></script>
    </body>