* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: #e899dc;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rules-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rules-section .rules-box {
  background-color: #fff;
  width: 400px;
  border: 1px solid #000;
  padding: 10px;
}
.rules-section .rules-box .rules-title {
  text-align: center;
}
.rules-section .rules-box .rules-title span {
  font-size: 32px;
}
.rules-section .rules-box .rules-description ul li {
  list-style: none;
  font-size: 18px;
  line-height: 30px;
}
.rules-section .rules-box .rules-description .important {
  font-size: 18px;
  font-style: italic;
}
.rules-section .rules-box .lets-play-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.rules-section .rules-box .lets-play-btn button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #e899dc;
  background-color: #fff;
}

.game-section {
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.game-section .buttons .selection {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 72px;
  transition: 100ms;
}
.game-section .buttons .selection:hover {
  transform: scale(1.1);
}
.game-section .results {
  background-color: #fff;
  border: 1px solid #181818;
  width: 200px;
  height: 310px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.game-section .results .players {
  display: flex;
  justify-content: space-between;
}
.game-section .results .winner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.game-section .results .result-selection {
  display: flex;
}
.game-section .results .result-selection .result {
  font-size: 72px;
  opacity: 0.3;
}
.game-section .results .winner .result {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
