* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: #e899dc;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rules-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .rules-box {
    background-color: #fff;
    width: 400px;
    border: 1px solid #000;
    padding: 10px;

    .rules-title {
      text-align: center;
      span {
        font-size: 32px;
      }
    }

    .rules-description {
      ul {
        li {
          list-style: none;
          font-size: 18px;
          line-height: 30px;
        }
      }

      .important {
        font-size: 18px;
        font-style: italic;
      }
    }
    
    .lets-play-btn {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      button {
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid #e899dc;
        background-color: #fff;
      }
    }
  }
}

.game-section {
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .buttons {
    .selection {
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-size: 72px;
      transition: 100ms;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .results {
    background-color: #fff;
    border: 1px solid #181818;
    width: 200px;
    height: 310px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    .players {
      display: flex;
      justify-content: space-between;
    }

    .winner-box {
      display: flex;
      justify-content: space-between;
      // flex-direction: column;
      flex-wrap: wrap;
    }
    .result-selection {
      display: flex;

      .result {
        font-size: 72px;
        opacity: 0.3;
      }

    }
    .winner {
      .result {
        opacity: 1; 
      }
    }
  }
}
